.putty1 {color: brown; text-align: center;}

.putty3 {color: red; text-align: center;}

.puttyp {color: blue;}

.img-bg{background-color: darkgray;}

.img-bs{box-shadow: 5px 5px gray; margin: 25px;}