.putty1 {
    text-align: center;
}

.putty3 {
    color: rgb(22, 30, 73);
    text-align: center;
}

.puttyp {
    color: rgb(79, 91, 204);
    font-style: oblique;
}
.img-bg{margin: 10px 10px; border-style: dotted; border-color: black; padding: 10px 10px; background-color: lightgray;}

img{box-shadow: 10px 10px darkslategray; margin: 20px;}
